
.main-card {
  height: 100%;
  display: flex;
  justify-content: center;	
    
    .category,
    .items {
      width: 25%;
      height: 50%;
      border: none;
      border-radius: 10px;
      box-shadow: 0px 0px 15px 3px rgba(51, 49, 45, 0.97);
      padding: 30px;
      background: radial-gradient(40% 50% at 0 0, #FAECD5, #CAE4D8);
    }

    .category {
      position: absolute;
      top: 20%;
      left: 15%;
    }

    .items{
      position: absolute;
      top: 20%;
      left: 55%;
    } 

    .input-list {
      width: 96%;
    }

    // .form-lists {
      // height: 100%;
    //   position: absolute;
    //   top: 20%;
    //   left: 15%;
    // }

    
  //     .form-lists {
	// 			width: 25%;
	// 			position: absolute;
	// 			top: 10%;
	// 			left: 20%;
  //     }
			
	// 		.form-create {
	// 			position: absolute;
	// 			top: 68%;
	// 			left: 22%;
	// 		}

  //     .input-list {
  //       width: 90%;
  //       height: 25px;
  //       border-radius: 5px;
  //       border: none;
  //       background-color: white;
  //       font-size: 18px;
  //     }
  
    .btn-cteate {
      width: 100%;
      border-radius: 5px;
      border-color: lightgreen;
      background-color: lightgreen;
      font-size: 24px;
      font-weight: 500;
      margin-top: 98%;
    }
  //   }
}
// .item {
//   width: 90%;
//   list-style-type: none;
//   text-align: left;
//   } 