<mat-card class="main-card">
    <div class="category">
        <div class="form-lists">
            <ul>
                <a routerLink={index}>
                    <li 
                        class="item"
                        *ngFor="let list of lists">
                        (click)="clickOnElement(list.toDoId)" 
                        {{list.nameList}}

                    </li>
                 </a> 
            </ul>
        </div>
        <form (submit)="addNewList($event)"
            class="form-create">
            <input 
                matInput
                [(formControl)]="validateControllNewList"
                class="input-list"
                name="nameToDoList"
                placeholder="New list..."
                required
                >
            <button class="btn-cteate"
                type="submit"
                >Create
            </button>    
        </form>
    </div>

    <div class="items">
        <!-- <todo-items-to-do></todo-items-to-do> -->
        <!-- *ngIf="выбран_список" [list]="listItems[индекс_выбранного_списка]" -->
    </div>
</mat-card>