<mat-card class="main-card">
    <div class="screens">
        <mat-card class="main-card-screen-lists">
            <mat-form-field class="form-create-list">
                <mat-label></mat-label>
                <input 
                    matInput
                    class="input-list"
                    >
            </mat-form-field>
            <div class='btn'>
                <button class="btn-cteate">Create</button>
            </div> 
        </mat-card>

        <mat-card class="main-card-screen-toDo">
            <mat-form-field class="form-search">
                <mat-label></mat-label>
                <input 
                    matInput
                    class="input-search">
            </mat-form-field>
            <div class="checkbox">
                <mat-radio-button 
                    checked="true" 
                    class="radio-button" 
                    color="primary">
                    All
                </mat-radio-button>
                <mat-radio-button 
                    class="radio-button" 
                    color="primary">
                    Undone
                </mat-radio-button>
            </div>
            <mat-form-field class="form-add-to-do">
                <mat-label></mat-label>
                <input 
                    matInput
                    class="input-add-to-do">
            </mat-form-field>

        </mat-card>
    </div>

    <!-- <mat-card-header >
        <div mat-card-avatar ></div>
        <mat-card-title class="title">Angular</mat-card-title>
    </mat-card-header>
    <div class="container-input">
        <mat-form-field >
                <input required >
        </mat-form-field>
    <br>
        <mat-form-field >
                <input required>
                <button>///</button>
            </mat-form-field>
        </div>
        <div>
            <button>Log in</button>
            <button >clic</button>
            <button>clic1</button>
        </div> -->
</mat-card>