<div class="main-card">
    <div class="main-card__screens">
        <div class="main-card__screen-lists">
            <div class="form-field">
                <div class="form-lists">
                    <ul>
                        <!-- <a routerLink={index}> -->
                            <li 
                                class="item"
                                *ngFor="let list of listItems; let i=index"
                                (click)="clickOnElement(i)">
                                {{list.newList}}
                                <!-- <span></span> -->
                            </li>
                        <!-- </a> -->
                    </ul>
                </div>
                <form (submit)="addNewList($event)"
                    class="form-create">
                    <input 
                        [(ngModel)]="newList"
                        class="input-list"
                        name="newList"
                        placeholder="New list..."
                        >
                    <button class="btn-cteate"
                        type="submit"
                        >Create
                    </button>    
                </form>
            </div>
        </div>

        <div class="main-card__screen-toDo">
            <div class="form-field">
                <div class="head">
                    <form>
                        <input 
                            class="input-search"
                            placeholder="Search...">
                    </form>
                    <div class="checkbox">
                        <form class="form-radio-input">
                            <label>
                                <input 
                                    type="radio"
                                    class="checkbox-button"
                                    checked="true" 
                                    class="radio-button" 
                                    color="primary"/>
                                All
                            </label>
                            <label>
                                <input 
                                    type="radio"
                                    class="checkbox-button"    
                                    class="radio-button" 
                                    color="primary"/>
                                Undone
                            </label>
                        </form>
                    </div>
                </div>
                <ul>
                    <li 
                        class="item"
                        *ngFor="let toDo of toDos; let i=index" 
                        (click)="executeToDO(i)"
                        [ngClass]="{'item--strike': toDo.completed}" >
                        {{ toDo.newToDo }}
                        <span (click)="delToDo(i)" class="item__delete-icon">X</span>
                    </li>
                </ul>
                <div>
                    <form (submit)="addToDo($event)">
                        <input 
                            [(ngModel)]="newToDo"
                            name="newToDo"
                            placeholder="New todo"
                            class="input-add-to-do">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>